# Python
__pycache__/
*.pyc
.venv/
.env
# Databricks & Spark
.metastore/
.sparkStaging/
derby.log
# Airflow
airflow/
airflow.db
logs/
# Data zones
data/
raw/
silver/
gold/
# OS/IDE
.DS_Store
.vscode/
.idea/
# Jupyter
.ipynb_checkpoints/
# Environment and secrets
connection.env
